{% extends 'books/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="wrapper d-flex justify-content-between align-items-center">
                        <h5 class="card-title">{{ books.title }}-({{ books.user }})</h5>
                        <span class="badge badge-info p-2">{{ books.status }}</span>
                    </div>
                    <hr>
                    <a href="{% url 'book_update' books.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'book_delete' books.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}